body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2), -2px 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2), -2px 0 10px 0 rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    margin-bottom: 60px;
    min-height: 564px;
    background-color: #5c87af;
    background-image: url("../img/main/intro-mask.png"), url("../img/main/background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 0 0;
}

.main-navigation {
    position: relative;
    background-color: #ffffff;
}

.logo {
    position: absolute;
    left: calc(50% - 69px);
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0 72px;
    font-weight: bold;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-menu li {
    padding: 15px 0;
    width: 240px;
}

.main-menu li:nth-child(3) {
    padding-right: 3px;
}

.main-menu li:nth-child(4n+1),
.main-menu li:nth-child(4n+2) {
    text-align: left;
}

.main-menu li:nth-child(4n+2) {
    margin-right: auto;
}

.main-menu li:nth-child(4n+3),
.main-menu li:nth-child(4n+4) {
    text-align: right;
}

.main-menu a {
    color: #000000;
}

.main-menu a:hover {
    color: #a3c7de;
}

.main-menu a:active {
    color: #b2b2b2;
}

.main-menu .active {
    color: #766357;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.advantages > p {
    margin-bottom: 50px;
    margin-left: 1px;
}

.advantages > p:first-of-type {
    margin: 0 auto;
    margin-bottom: 27px;
    width: 440px;
    font-size: 21px;
    font-weight: bold;
}

.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantage-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 21px;
    background-color: #efefef;
}

.advantage-item:first-child,
.advantage-item:nth-child(2) {
    width: 1200px;
}

.advantage-description {
    padding: 48px 49px 58px 49px;
    width: 302px;
}

.advantage-item:nth-of-type(n+3) .advantage-description {
    padding: 48px 69px 58px 69px;
    width: 262px;
}

.advantage-description p {
    margin: 0;
}

.advantage-description p:first-of-type {
    margin-bottom: 21px;
}

.advantage-item h3 {
    margin: 0 auto 24px auto;
    width: 151px;
    font-size: 21px;
}

.advantage-item img {
    display: block;
    width: 800px;
    min-height: 256px;
    background-color: #e9ae98;
}

.advantages-list .advantage-item:first-child,
.advantages-list .advantage-item:nth-child(2) {
    color: #ffffff;
    background-color: #82b4d3;
}

.advantages-town {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    color: #000000;
}

.advantages-town-item {
    padding: 58px 57px 67px 57px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 286px;
}

.advantages-town-item h4 {
    font-size: 21px;
    margin-bottom: 24px;
}

.residence::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 76px;
    background-image: url("../img/main/residence.svg");
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.food::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 76px;
    background-image: url("../img/main/food.svg");
    background-repeat: no-repeat;
    background-position: -1px 4px;
}

.souvenirs::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 76px;
    background-image: url("../img/main/souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 6px -1px;
}

.search {
    position: relative;
}

.search h3 {
    margin: 0;
}

.search-description {
    padding: 51px 0 46px 0;
    width: 440px;
    margin: 0 auto;
}

.search-description p {
    line-height: 25px;
    margin: 0;
}

.search-description > p:first-child {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.button {
    font: inherit;
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.title-search {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;
    width: 568px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.title-search:hover {
    background-color: #604e43;
}

.title-search:active {
    color: #76685f;
    background-color: #503e33;
}

.search-hotel {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 293px;
    left: 316px;
    z-index: 1;
    width: 568px;
    padding: 55px;
    background-color: #ffffff;
}

.hotel-arrival {
    position: relative;
    width: 458px;
}

.hotel-arrival label {
    margin-right: 16px;
    font-weight: bold;
}

input[type="text"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
    padding-left: 13px;
    padding-right: 30px;
    margin-bottom: 30px;
    width: 346px;
    font-weight: bold;
    border: none;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}

.search-hotel input[type="text"]:hover {
    background-color: #ececec;
    border: 2px solid #ececec;
}

.search-hotel input[type="text"]:focus {
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
    outline: none;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000000;
}

input[type="text"]:-moz-placeholder {
    color: #000000;
}

input[type="text"]::-moz-placeholder {
    color: #000000;
}

input[type="text"]:-ms-input-placeholder {
    color: #000000;
}

input[type="text"]:focus::-webkit-input-placeholder {
    opacity: 0;
}

input[type="text"]:focus:-moz-placeholder {
    opacity: 0;
}

input[type="text"]:focus::-moz-placeholder {
    opacity: 0;
}

input[type="text"]:focus:-ms-input-placeholder {
    opacity: 0;
}

.hotel-departure {
    position: relative;
    width: 458px;
    margin-bottom: 3px;
}

.hotel-departure label {
    margin-right: 12px;
    font-weight: bold;
}

.calendar-search {
    position: absolute;
    padding: 0;
    line-height: 0;
    top: 8px;
    right: 9px;
    background-color: transparent;
    opacity: 0.4;
    cursor: pointer;
}

.calendar-search:hover {
    opacity: 1;
}

.calendar-search:active path,
.calendar-search:active rect {
    fill: #82b5d3;
}

.adult-field,
.child-field {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    width: 227px;
}

.child-field {
    padding-left: 48px;
}

.adult-field [type="text"],
.child-field [type="text"] {
    width: 114px;
    padding: 8px 30px;
    text-align: center;
}

.adult-field label {
    font-weight: bold;
    margin-right: 37px;
}

.child-field label {
    font-weight: bold;
    margin-right: 23px;
}

.minus {
    position: absolute;
    top: 3px;
    left: 119px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    opacity: 0.4;
    cursor: pointer;
}

.minus:hover {
    opacity: 1;
}

.minus:active line {
    stroke: #82b5d3;
}

.plus {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    opacity: 0.4;
    cursor: pointer;
}

.plus:hover {
    opacity: 1;
}

.plus:active line {
    stroke: #82b5d3;
}

.button-search {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 458px;
    padding: 16px;
    margin-top: 25px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    background-color: #82b5d3;
    cursor: pointer;
}

.button-search:hover {
    background-color: #669fc2;
}

.button-search:active {
    color: #87b6d1;
    background-color: #5397be;
}

.map {
    position: relative;
    display: block;
    width: 1200px;
    min-height: 593px;
    background-color: #ccdeaa;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px 0;
}

.index-footer {
    margin-top: -121px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
    width: 400px;
}

.hashtag p {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

.social {
    width: 400px;
}

.social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.social .social-button {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #82b5d3;
}

.social li:nth-of-type(n+4) {
    margin-top: 6px;
}

.social .twitter:hover {
    background-color: #669fc2;
}

.social .twitter:active {
    background-color: #5397be;
}

.twitter:active path {
    fill: #87b6d1;
}

.social .facebook:hover {
    background-color: #669fc2;
}

.social .facebook:active {
    background-color: #5397be;
}

.facebook:active path {
    fill: #87b6d1;
}

.social .yuotube:hover {
    background-color: #669fc2;
}

.social .yuotube:active {
    background-color: #5397be;
}

.yuotube:active path {
    fill: #87b6d1;
}

.developers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
}

.developers > p:first-of-type {
    margin: 0;
    margin-right: 7px;
    width: 77px;
}

.developers-icon svg {
    vertical-align: middle;
}

.developers-icon path,
.developers-icon rect {
    fill: #1e191a;
}

.developers-icon:hover path,
.developers-icon:hover rect {
    fill: #82b5d3;
}

.developers-icon:active path,
.developers-icon:active rect {
    fill: #bebdbe;
}


/* Страница отелей */

.filters {
    padding: 0 72px;
    line-height: 21px;
    color: #ffffff;
    background-color: #1e191a;
    background-image: url("../img/hotels/filter_background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -56px;
}

.filter-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 28px;
}

.filter-hotel > fieldset {
    width: 240px;
    margin: 0;
    margin-right: 14px;
    margin-bottom: 33px;
    padding: 0;
    text-align: left;
    border: none;
}

.filter-hotel legend {
    font-size: 16px;
    font-weight: bold;
}

.filter-hotel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-hotel li {
    margin-top: 24px;
}

.filter-hotel input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.filter-hotel .checkbox-custom::before {
    content: url("../img/hotels/checkbox-off.svg");
    position: absolute;
}

input[type="checkbox"]:checked + .checkbox-custom::before {
    content: url("../img/hotels/checkbox-on.svg");
}

input[type="checkbox"]:focus + .checkbox-custom::before {
    content: url("../img/hotels/checkbox-off.svg");
    outline: 2px solid lightblue;
}

input[type="checkbox"]:focus:checked + .checkbox-custom::before {
    content: url("../img/hotels/checkbox-on.svg");
    outline: 2px solid lightblue;
}

input[type="checkbox"]:disabled + .checkbox-custom::before {
    content: url("../img/hotels/checkbox-off-disabled.svg");
}

input[type="checkbox"]:disabled:checked + .checkbox-custom::before {
    content: url("../img/hotels/checkbox-on-disabled.svg");
}

label.checkbox {
    position: relative;
    margin-left: 40px;
}

.type-of-housing .checkbox {
    margin-left: 43px;
}

.filter-range {
    width: 318px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 10px;
    margin-left: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}

.price-controls {
    position: relative;
    margin-bottom: 21px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 147px;
    padding: 5px;
    padding-left: 40px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin-left: 85px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.catalog-hotels {
    text-align: left;
}

.catalog-hotels ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 72px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 29px 0;
}

.sort-wrapper > p:first-of-type {
    margin: 0;
    padding: 0;
    width: 135px;
    font-size: 21px;
    font-weight: bold;
    margin-right: 29px;
}

.sort-wrapper > h4:first-of-type {
    margin: 0;
    padding: 0;
    width: 100px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
}

.sort-list {
    width: 773px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sort-list .current {
    font-size: 12px;
    color: #82b5d3;
}

.current polyline {
    fill: #82b5d3;
}

.sort-item {
    width: 80px;
}

.sort-item:last-child {
    margin-left: auto;
    text-align: right;
}

.sort-list a {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #82b5d3;
}

.sort-list a:hover {
    color: #92bed9;
}

.sort-list a:active {
    color: #000000;
    border-bottom: none;
}

.triangle:hover polygon {
    fill: #1e191a;
}

.triangle:active polygon {
    fill: #82b5d3;
}

.sort-list .formation {
    border-bottom: none;
}

.sort-list .formation:last-child {
    margin-left: 5px;
}

.hotels-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.hotels-item:first-child {
    border-bottom: none;
}

.hotels-item:last-child {
    border-top: none;
}

.hotels-item > a {
    margin-right: 30px;
}

.hotels-item img {
    display: block;
    width: 135px;
    min-width: 90px;
    background-color: #81b3d2;
}

.hotels-item-main {
    padding: 0;
    width: 260px;
}

.hotels-list h4 {
    margin: 0;
    margin-top: -6px;
    margin-bottom: 7px;
    font-size: 21px;
    font-weight: bold;
}

.hotels-list .hotels-item-title:hover {
    color: #82b5d3;
}

.hotels-list .hotels-item-title:active {
    color: #b2b2b2;
}

.hotels-list p {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
    text-align: left;
}

p.hotels-item-type {
    width: 110px;
    margin-right: 2px;
    margin-bottom: 14px;
}

p.hotels-item-price {
    width: 144px;
    margin-bottom: 14px;
}

.hotels-list .button {
    padding: 3px 17px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
}

.hotels-list .button:hover {
    background-color: #669ec0;
}

.hotels-list .button:active {
    color: #81b1ce;
    background-color: #5496bd;
}

.hotels-list .more {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 110px;
}

.hotels-list .reserve {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 143px;
    background-color: #766357;
    margin-left: 3px;
}

.hotels-list .reserve:hover {
    background-color: #604e43;
}

.hotels-list .reserve:active {
    color: #847870;
    background-color: #503e33;
}

.hotels-item-grade {
    margin-left: auto;
    width: 115px;
    text-align: right;
}

.stars {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 44px;
    width: 18px;
    height: 18px;
    background-image: url("../img/hotels/star.svg");
    background-repeat: space;
}

.star-4 {
    width: 89px;
}

.star-3 {
    width: 66px;
}

.star-2 {
    width: 42px;
}

.hotels-list .hotels-item-rating {
    background-color: #f2f2f2;
}

p.hotels-item-rating {
    padding: 3px 13px 3px 16px;
}